#!/usr/bin/env python3
# /// script
# requires-python = ">=3.10"
# dependencies = [
#   "pytest>=8.0",{{ deps_str }}# ]
# ///
"""Tests for {{ tool_name }} tool."""

import pytest

from tool import {{ func_name }}


def test_{{ func_name }}_basic() -> None:
    """Test basic functionality."""
    # TODO: Add your tests here
    pass


def test_{{ func_name }}_edge_cases() -> None:
    """Test edge cases."""
    # TODO: Add edge case tests
    pass


if __name__ == "__main__":
    pytest.main([__file__, "-v"])
